.anthy/
.cache/
.config/
.dbus/
.fontconfig/
.fvwm/
.java/
.local/
.mozilla/
.vnc/
.vscode-server/
thinclient_drives/
ダウンロード/
.bash_history
.bash_logout
.bash_profile
.bashrc
.bashrce
.cshrc
.fvwm2rc
.login
.logout
.psql_history
.ssql
.ssqltool
.st-itc
.viminfo
.vimrc
.Xauthority
.xinitrc