.att { padding:0px; margin:0px; height:100%; z-index:2; }
.linkbutton { text-align:center; margin-top:5px; padding:5px; }
.embed { vertical-align:text-top; padding:0px; margin:0px; border:0px,0px,0px,0px; width:100%; }
.noborder { border-width:0px; margin-top:-1px; padding-top:-1px; margin-bottom:-1px; padding-bottom:-1px; }

body {
}
#ssql_body_contents {
}


#ssqlTable10001 table, #ssqlTable10001 tr, #ssqlTable10001 td { border:1px solid black; }
#ssqlTable10001 table { border-collapse:collapse; border-style:hidden; border-spacing:0; height:100%; }

.TFE10014{ background-color:beige; }
.TFE10000{ width:50px; }
.TFE10004{ width:30px; }
.TFE10005{ width:130px; background-color:yellow; }
.TFE10006{ width:100px; background-color:azure; }
.TFE10007{ width:120px; }


