.att { padding:0px; margin:0px; height:100%; z-index:2; }
.linkbutton { text-align:center; margin-top:5px; padding:5px; }
.embed { vertical-align:text-top; padding:0px; margin:0px; border:0px,0px,0px,0px; width:100%; }
.noborder { border-width:0px; margin-top:-1px; padding-top:-1px; margin-bottom:-1px; padding-bottom:-1px; }

body {
}
#ssql_body_contents {
}


#ssqlTable10001 table, #ssqlTable10001 tr, #ssqlTable10001 td { border:1px solid black; }
#ssqlTable10001 table { border-collapse:collapse; border-style:hidden; border-spacing:0; height:100%; }

.TFE10013{ background-color:#dae1ed; }
.TFE10000{ width:100px; color:black; }
.TFE10003{ width:1200px; color:black; }
.TFE10005{ width:100px; background-color:#bdf0e5; color:black; }
.TFE10006{ width:1200px; background-color:#cef0bd; color:black; }
.TFE10007{ width:300px; background-color:#e6f0bd; color:black; }


